@font-face {
  font-family: Inter Light;
  src: url("./fonts/Inter-Light.ttf");
}
@font-face {
  font-family: Inter Regular;
  src: url("./fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: Inter Medium;
  src: url("./fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: Inter Bold;
  src: url("./fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: Inter ExtraBold;
  src: url("./fonts/Inter-ExtraBold.ttf");
}

:root {
  --ps-font-primary: #fff;
  --ps-font-secondary: #dae1e7;
  --ps-bg-primary: #191c1f;
  --ps-bg-secondary: #1f2428;
  --ps-green: #046931;
  --bg-danger: #9b393c;
  --bg-default-button: #2f343a;
  --font-muted: #636668;
}

body {
  /* window */
  width: 330px;
  padding: 0;
  margin: 0;

  /* font */
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  font-weight: 400;

  /* colors */
  color: var(--ps-font-primary);
  background: var(--ps-bg-primary);
}

h1 {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

button {
  width: 100%;
  color: var(--ps-font-primary);
  background-color: var(--bg-default-button);
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  line-height: 1em;
  font-weight: 600;
  cursor: pointer;
}

hr {
  width: 70%;
  margin: 1rem auto;
  text-align: center;
}

p {
  padding: 0;
  margin: 0;
}

.nav {
  background-color: var(--ps-green);
  font-size: 1.3em;
  text-align: center;
  font-weight: 800;
  padding: 0.5rem 0;
}

.container {
  padding: 1rem;
}

.my {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.pickr-wrapper {
  margin-bottom: 0.5rem;
}

.pickr {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.pickr > .pcr-button {
  margin: 0;
}

.pickr-description {
  vertical-align: middle;
}

#infosList {
  list-style: none;
  padding: 0;
}

#version {
  text-align: center;
  margin-top: 1rem;
}

#version > a {
  color: var(--font-muted);
  text-decoration: none;
}

#btnRequestPermissions {
  display: none;
  background-color: var(--bg-danger);
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 2rem;
}
